POSTGRES_DB=trading
POSTGRES_USER=trading
POSTGRES_PASSWORD=trading

KAFKA_NODE_ID=1
KAFKA_CLUSTER_ID=mkV1OEVBNTcwNTJENDM2Qg
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123

MLFLOW_BACKEND_STORE_URI=postgresql://trading:trading@timescaledb:5432/trading
MLFLOW_ARTIFACT_ROOT=s3://mlflow/

AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio123
AWS_DEFAULT_REGION=us-east-1
MLFLOW_S3_ENDPOINT_URL=http://minio:9000
